#!/bin/bash
export drive_pos_file_id=
export drive_neg_file_id=
export drive_export_link_prefix=

# DataConfig.
export test_ratio=0.2

# ModelConfig
export base_model_name=google/vit-base-patch16-224
export weight_decay=0.001
export learning_rate=0.001

# PipelineConfig
export train_per_device_batch_size=16
export test_per_device_batch_size=32
export train_dataloader_prng_key=0
export test_every_num_steps=1
export wandb_entity=
export wandb_project=